{% extends "app.html" %} {% load static %} {% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card container mb-4">
                <div class="card-header pb-0">
                    <h6>Confusion Matrix Training</h6>
                    <!-- <a href="{% url 'add_latih' %}"><button class="btn btn-primary btn-sm ms-auto ">Tambah</button></a> -->

                </div>
                <div class="card-body px-2 pt-2 pb-2">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td colspan="3" class="text-center"><b>Data Training {{data.0}}%</b></td>
                                </tr>
                                <tr>
                                    <td><b>Accuracy</b></td>
                                    <td><b>Precission</b></td>
                                    <td><b>Recall</b></td>
                                </tr>
                                <tr>
                                    <td>{{accuracy_t.0}}</td>
                                    <td>{{precission_t.0}}</td>
                                    <td>{{recall_t.0}}</td>
                                </tr>

                                <tr>
                                    <td colspan="3" class="text-center"><b>Data Training {{data.1}}
                                            %</b></td>
                                </tr>
                                <tr>
                                    <td><b>Accuracy</b></td>
                                    <td><b>Precission</b></td>
                                    <td><b>Recall</b></td>
                                </tr>
                                <tr>
                                    <td>{{accuracy_t.1}}</td>
                                    <td>{{precission_t.1}}</td>
                                    <td>{{recall_t.1}}</td>
                                </tr>


                                <tr>
                                    <td colspan="3" class="text-center"><b>Data Training {{data.2}}
                                            %</b></td>
                                </tr>
                                <tr>
                                    <td><b>Accuracy</b></td>
                                    <td><b>Precission</b></td>
                                    <td><b>Recall</b></td>
                                </tr>
                                <tr>
                                    <td>{{accuracy_t.2}}</td>
                                    <td>{{precission_t.2}}</td>
                                    <td>{{recall_t.2}}</td>
                                </tr>

                            </tbody>
                        </table>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 